<div action="" method="POST">
    <form class="col-md-4 col-md-offset-4" name="loginForm">
        <div id="legend">
            <legend class="">Login</legend>
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Username" class="input-xlarge" ng-model="user.username" ng-minlength="3" required ng-pattern="">
                <p ng-show="loginForm.username.$error.pattern" class="validation-error">Username can contain only digits letters and underscores!</p>
                <p ng-show="loginForm.username.$error.minlength" class="validation-error">Username must be at least 3 characters!</p>
                <p ng-show="loginForm.username.$error.required" class="validation-error">Username is required</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="user.password" required minlength="6">
                <p ng-show="loginForm.password.$error.minlength" class="validation-error">Password must be at least 6 characters!</p>
                <p ng-show="loginForm.password.$error.required" class="validation-error">Password is required!</p>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
                <a class="btn btn-success" href="/#/home">Cancel</a>
            </div>
        </div>
    </form>
</div>